button {
    border: none;
    border-radius: 15px;
    background: #333;
    color: #fff;
    padding: .5rem 1rem;
    margin-top: 1rem;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}