.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 8rem;
    @extend .flex;

    .container-inputs {
        @extend .flex;
    }
}
